CompileFlags:
  Add: 
    - "-xc++"
    - "-std=c++23"
    - "-Wall"
    - "-I${workspaceFolder}/include"
    - "-I${workspaceFolder}/src"
  Compiler: g++

Diagnostics:
  ClangTidy:
    Checks: >
      *,
      -abseil*,
      -fuchsia*,
      -llvmlib*,
      -zircon*,
      -altera*,
      -google-readability-*,
      -readability-*,
      -modernize-*,
      -cppcoreguidelines-*,
      -hicpp-*,
      -llvm-*,
      -misc-*,
      -cert-*
    CheckOptions:
      readability-identifier-naming: off
      
Index:
  Background: Build
  Threads: 4
  
InlayHints:
  Enabled: false

If:
  PathMatch: .*/ricky-cpp/.*
