CompileFlags:
  Add:
    - "-xc++"
    - "-std=c++23"
    - "-isystemF:\\Software\\Develop\\mingw\\mingw64\\lib\\gcc\\x86_64-w64-mingw32\\15.1.0\\include\\c++"
    - "-isystemF:\\Software\\Develop\\mingw\\mingw64\\lib\\gcc\\x86_64-w64-mingw32\\15.1.0\\include\\c++\\x86_64-w64-mingw32"
    - "-isystemF:\\Software\\Develop\\mingw\\mingw64\\lib\\gcc\\x86_64-w64-mingw32\\15.1.0\\include\\c++\\backward"
    - "-Wno-ignored-command-line-option"  # 抑制可能的警告
  Compiler: g++

Diagnostics:
  StrictHeaderChecks: false
  HeaderIncludeStyle: NoDiagnostics
  IgnoredHeaders: # 抑制标准库诊断
    - "**/c++/**"
    - "**/mingw64/**"
  Suppress: attributes_not_allowed

Index:
  Background: Build
  Symbols: true
Completion:
  Resolve: false
  Duplicates: true
  FilterSymbol: false
  CaseSensitivity: false
  Snippets: true
  DetailedLabel: true
  DetailedTooltip: true
  DisplayContext: true
  EnableAutoImport: true
FuzzySymbolSearch: true
Log:
  Verbosity: 2